In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Admin\Downloads\customer_shopping_behavior.csv")

In [2]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [4]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [5]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [19]:
df['Review Rating '] = df.groupby('Category')['Review Rating'].transform('median')

In [20]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
Review Rating              0
dtype: int64

In [29]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'Purchase Amount (USD)' : 'purchase_amount_(usd)'})

In [30]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases', 'review_rating_'],
      dtype='object')

In [33]:
# create a column age_group
labels = ['Young Adult', ' Adult', 'Middle-aged', ' senior']
df['age_group'] = pd.qcut(df['age'],q=4,labels = labels)

In [34]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [35]:
# crate column purchase_frequency_days

frequency_mapping = {
    'Fortnightly' : 14,
    'Weekly' : 7,
    'Monthly' : 30,
    'Quartarly' : 90,
    'Bi-Weekly': 14,
    'Annually' : 365,
    'every 3 Months' : 90
}
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [36]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                     14.0            Fortnightly
1                     14.0            Fortnightly
2                      7.0                 Weekly
3                      7.0                 Weekly
4                    365.0               Annually
5                      7.0                 Weekly
6                      NaN              Quarterly
7                      7.0                 Weekly
8                    365.0               Annually
9                      NaN              Quarterly

In [37]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [38]:
(df['discount_applied'] == df['promo_code_used']).all()

True

In [39]:
df = df.drop('promo_code_used',axis=1)

In [40]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'review_rating_', 'age_group',
       'purchase_frequency_days'],
      dtype='object')

In [1]:
pip install psycopg2-binary sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB 262.6 kB/s eta 0:00:11
   ---------------------------------------- 0.0/2.7 MB 262.6 kB/s eta 0:00:11
   - -------------------------------------- 0.1/2.7 MB 438.1 kB/s eta 0:00:06
   - -------------------------------------- 0.1/2.7 MB 438.1 kB/s eta 0:00:06
   -- ------------------------------------- 0.2/2.7 MB 546.6 kB/s eta 0:00:05
   -- ------------------------------------- 0.2/2.7 MB 546.6 kB/s eta 0:00:05
   -- ------------------------------------- 0.2/2.7 MB 419.0 kB/s eta 0:00:07
   --- ------------------------------------ 0.3/2.7 MB 628.5 kB/s eta 0:00:04
   --- ------------------------------------ 0.3/2.7 MB 628.5 kB/s eta 0:00:04
   ---- ----------------------------------- 0.3/2.7 MB 516.0 kB/s eta 0:00:05
   ---- ----------------------------------- 0.3/2.7 MB 520.7 kB/s eta 0:00:05
   ------ --------------------------------- 0.4/2.7 MB 688.1 kB/s eta 0:00:04
   ------- -------------------------------- 0.5/2.7 MB 798.8 kB/s eta 0:00:03
   --------- ------------------------------ 0.6/2.7 MB 874.0 kB/s eta 0:00:03
   --------- ------------------------------ 0.6/2.7 MB 874.0 kB/s eta 0:00:03
   --------- ------------------------------ 0.6/2.7 MB 874.0 kB/s eta 0:00:03
   ----------- ---------------------------- 0.8/2.7 MB 910.0 kB/s eta 0:00:03
   ----------- ---------------------------- 0.8/2.7 MB 859.0 kB/s eta 0:00:03
   ------------ --------------------------- 0.9/2.7 MB 949.4 kB/s eta 0:00:02
   ------------ --------------------------- 0.9/2.7 MB 949.4 kB/s eta 0:00:02
   -------------- ------------------------- 1.0/2.7 MB 947.4 kB/s eta 0:00:02
   -------------- ------------------------- 1.0/2.7 MB 947.4 kB/s eta 0:00:02
   -------------- ------------------------- 1.0/2.7 MB 947.4 kB/s eta 0:00:02
   -------------- ------------------------- 1.0/2.7 MB 947.4 kB/s eta 0:00:02
   --------------- ------------------------ 1.1/2.7 MB 885.3 kB/s eta 0:00:02
   --------------- ------------------------ 1.1/2.7 MB 885.3 kB/s eta 0:00:02
   ----------------- ---------------------- 1.2/2.7 MB 905.4 kB/s eta 0:00:02
   ----------------- ---------------------- 1.2/2.7 MB 905.4 kB/s eta 0:00:02
   ------------------- -------------------- 1.3/2.7 MB 910.4 kB/s eta 0:00:02
   -------------------- ------------------- 1.4/2.7 MB 930.3 kB/s eta 0:00:02
   ---------------------- ----------------- 1.5/2.7 MB 1.0 MB/s eta 0:00:02
   ------------------------ --------------- 1.7/2.7 MB 1.1 MB/s eta 0:00:01
   --------------------------- ------------ 1.9/2.7 MB 1.2 MB/s eta 0:00:01
   ----------------------------- ---------- 2.0/2.7 MB 1.2 MB/s eta 0:00:01
   -------------------------------- ------- 2.2/2.7 MB 1.3 MB/s eta 0:00:01
   ---------------------------------- ----- 2.4/2.7 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 2.5/2.7 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 1.4 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

In [20]:
from sqlalchemy import create_engine
import pandas as pd
#step 1 : connect to postgresql
#Replace placeholders with your actual details
username = "postgres"
password = "Prajvitha%40123"
host = "localhost"
port = "5432"
database = "customer_behavior"

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

#step 2: Load dataframe into Postgresql


df.to_sql(table_name,engine,if_exists="replace",index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'customer' in database 'customer_behavior'.

In [10]:
import pymysql

conn = pymysql.connect(host='localhost', user='root', password='Prajvitha@123')
cursor = conn.cursor()
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database}")
conn.close()

In [12]:
import pymysql
pymysql.connect(host='localhost', user='root', password='Prajvitha@123')

In [21]:
import pymysql

conn = pymysql.connect(
    host='localhost',
    user='root',
    password='Prajvitha@123',  # <--- replace this
    port=3306                     # <--- use 3307 if Workbench says 3307
)
print("✅ pymysql connected successfully!")
conn.close()

✅ pymysql connected successfully!

In [25]:
from sqlalchemy import create_engine

username = "root"
password = "Prajvitha%40123"   # Replace this
host = "localhost"
port = "3306"                   # or "3307"
database = "customer_behavior"

# ✅ CORRECT connection string
connection_url = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"

print("Connection URL:", connection_url)  # Just to verify the URL looks right

engine = create_engine(connection_url)

# Test connection
with engine.connect() as conn:
    print("✅ Connected successfully using SQLAlchemy!")

Connection URL: mysql+pymysql://root:Prajvitha%40123@localhost:3306/customer_behavior
✅ Connected successfully using SQLAlchemy!